/*
*  CSS TABLE OF CONTENTS
*
*  1.0 - Color variables
*  2.0 - Default values
*  3.0 - Header
*  4.0 - Main Container 
*  5.0 - 
*  6.0 - 
*  7.0 - Media Queries
*/

/*** 1.0 Color variables ***/

:root {
  --header: #3E3C3C;
  --hero: #1C1A19;
  --text-theme-1: #f55800;
  --text-theme-2: #f4f5f7;
}

/*** 2.0 Default Values ***/
.bg-hero {
  background-color: var(--hero);
}

.text-color-1 {
  color: var(--text-theme-1);
}

.text-color-2 {
  color: var(--text-theme-2);
}

.font-custom-1 {
  font-family: 'Crete Round', serif;
}

.font-lg {
  font-size: 64px;
  font-family: 'Crete Round', serif;
}

.font-md,
.font-sm {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

.font-sm {
  font-size: 16px;
}

.cborder {
  border: 2px dashed red;
}

/*** 3.0 Header ***/

.header {
  background-color: var(--header);
}

.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  width: 16px;
  height: auto;
  margin: 0;
  padding: 0;
  background-image: none !important;
  border-bottom: 2px solid #fff;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  top: -5px;
}

.navbar-toggler-icon::after {
  top: 4.5px;
}

/*** 4.0 Main Container ***/
.main {
  padding: 0 80px;
  background: url("../assets/svgs/Illustration-header.svg") no-repeat 58vw, var(--hero) ;
}

.hero {
  height: 95vh;
}

.side-icons {
  width: 75%;
}

/*** 7.0 Media Queries ***/

@media screen and (max-width: 768px) {
  .font-lg {
    font-size: 50px;
  }
  .main {
    padding: 0 30px;
    background-size: 350px;
    background-position-x: 55vw;
    background-position-y: 250px;
  }
}

@media screen and (min-width: 768px) {
  .side-icons {
    position: fixed;
    width: 60px;
    left: 0;
  }
  .side-icons a {
    margin: 0 0 1.5rem 0;
  }
}